*{
    margin: 0;
    padding: 0;
   direction: rtl;
}

#sidebar{
  
    position: fixed;
    width: 20%;
    height: 100%;
    right:0;
    background-color: black;
}
#sidebar li {
    color: white;
    font-size: 30px;
    padding: 30px;
    border-bottom: 1px solid  grey;
    text-align: center;
    list-style: none;
}
.toggole-btn{
    position: absolute;
    right:105%;
    top:15px;
    display: block;

}
.toggole-btn span {
    display: block;
    background-color:black;
    width: 30px;
    height: 5px;
    margin: 3px;
}
#sidebar.active{
  right:-15%;
}
#content{
  position:absolute;
  margin-right: 20%;
  width: 80%;
  height: 100%;
  background-color: grey;
  z-index: -1;
}
#content h2{
  margin:2px;
}
.spand{
  margin-right: 5%;
  width: 95%;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
   .toggole-btn{
       display: none;
   }
   #sidebar{
    position: fixed;
    width: 100%;
    height: 32%;
    top:30;
    background-color: black;
       
   }
 
  #sidebar li {
    color: white;
    font-size: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid  grey;
    text-align: center;
    list-style: none;
  }
 
  .toggole-btn{
    position: absolute;
    top:105%;
    right: 30%;
    display: block;
    width: 100%;


 }
 .content{
   background-color: red;
   width: 100%
   
 }
 .toggole-btn span {
    display: block;
    background-color:black;
    width: 30px;
    height: 5px;
   
}
 #sidebar.active{
    top:-32%;
  }

  
  
}

