/* reset defalut settings of browser*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
 --main: #3b69a4 ; /* main color*/
 --white: #fff;
 --grey: #f5f5f5;
 --black1:#222;
 --black:#999;
 --main2:  #2a558f;
}

/*body  */
body{
 min-height: 100wh;
 overflow-x: hidden;
}
/* container-fuld */  
.container{
    position: relative;
    width: 100%;
}

/* nav */
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--main);
    border-right: 10px solid var(--main2) ;
    transition: 0.5s;
    overflow:0 ;
}
.navigation ul {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 200%;
    list-style: none;

}

.navigation li:nth-child(1) {
   margin-bottom: 40px;
   pointer-events: none;
}

/* hobvr*/
.navigation li:hover {
    background: var(--white);
 }


 .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    list-style: none;

}


.navigation ul li:hover a {
  color:var(--main)
}

.navigation ul li a .icon {
   position: relative;
   display: block;
   min-width: 60px;
   height: 60px;
   line-height: 60px;
   text-align: center;
  }


